{% extends 'base.html' %}
{% load rating_extras %}
{% block content %}
<main class="container">
    <h1>Créer une critique</h1>
    <div class="container__post">
        <h2>Vous êtes en train de poster en réponse à :</h2>
        <div class="container__post__ticket">
            <a href="{% url 'post_view' blog.id %}">
                <h4>Billet : {{ blog.title }}</h4>
                {% if blog.image %}
                <div>
                    <img src="{{ blog.image.url }}">
                </div>
                {% endif %}
            </a>
        </div>
        <h3>La critique</h3>
        <form method="post">
            {{ post_review.as_ul }}
            {% csrf_token %}
            <button type="submit" >Sauvegarder</button>
        </form>
    </div>
</main>
{% endblock content %}