{% extends 'base.html' %}
{% block content %}
    <div class="container__post">
        {% if review_form %}
            <h2>Créer une critique</h2>
        {% else %}
            <h2>Demander une critique</h2>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {{ blog_form.as_ul }}
            {% if review_form %}
                {{ review_form.as_ul }}
            {% endif %}
            {% csrf_token %}
            <button type="submit" >Publier</button>
        </form>
    </div>
{% endblock content %}