{% extends 'base.html' %}
{% load home_extras %}
{% block content %}
    <div class="container__post">
        {% if author == user_online %}
            <h2>Modifier la critique</h2>
            <form method="post">
                {{ edit_review.as_ul }}
                {% csrf_token %}
                <button type="submit" >Sauvegarder</button>
            </form>
            <hr>
            <h3>Supprimer la critique ?</h3>
            <form method="post">
                {{ delete_review }}
                {% csrf_token %}
                <button type="submit" >Supprimer</button>
            </form>
        {% endif %}
        <div class="container__post__ticket">
            <a href="{% url 'post_view' blog.id %}">
                <h4>Billet : {{ blog.title }}</h4>
                <div>
                    <img src="{{ blog.image.url }}">
                </div>
            </a>
        </div>
    </div>
{% endblock content %}