{% extends 'base.html' %}
{% load rating_extras %}
{% block content %}
<main class="container">
    <div class="container__post">
        {% if author == user_online %}
            <h2>Modifier le billet</h2>
            <form method="post" enctype="multipart/form-data">
                {{ edit_form.as_ul }}
                {% csrf_token %}
                <button type="submit" >Sauvegarder</button>
            </form>
            <hr>
            <h3>Supprimer le billet ?</h3>
            <form method="post">
                {{ delete_form }}
                {% csrf_token %}
                <button type="submit" >Supprimer</button>
            </form>
        {% endif %}
        <div class="container__post__ticket">
            <a href="{% url 'post_view' blog.id %}">
                <h4>Billet : {{ blog.title }}</h4>
                {% if blog.image %}
                <div>
                    <img src="{{ blog.image.url }}">
                </div>
                {% endif %}
            </a>
        </div>
    </div>
</main>
{% endblock content %}