{% extends 'base.html' %}
{% load rating_extras %}
{% block content %}
<main class="container">
    <h1>Home</h1>
    {% for post in posts %}
        {% if post.content_type == 'REVIEW' %}
        <div class="container__post">
            {% if post.user == user %}
                <p><span>Vous</span> avez posté cette critique le {{post.time_created}} :</p>
            {% else %}
                <p><span>{{post.user}}</span> a posté cette critique le {{post.time_created}} :</p>
            {% endif %}
            <div class="container__post__view">
                <div>{{post.headline}} 
                    {% with ''|center:post.rating as range %}
                        {% for _ in range %}
                            &#9733;
                        {% endfor %}
                    {% endwith %}
                    {% with post.rating|empty_stars as empty %}
                        {% with ''|center:empty as range %}
                            {% for _ in range %}
                                &#9734;
                            {% endfor %}
                        {% endwith %}
                    {% endwith %}
                </div>
                {% if post.user == user %}
                    <button><a href="{% url 'edit_review' post.id %}">Modifier votre critique</a></button>
                {% endif %}
            </div>
            <div class="container__post__ticket">
                <h2>
                    {% if post.user == user %}
                        <span>Votre ticket</span>
                    {% else %}
                        <span>Ticket créé par {{post.user}}</span> 
                    {% endif %}
                    <span>le {{post.time_created}}</span>
                </h2>
                {% if post.ticket.user == user%}
                    <button><a href="{% url 'edit_blog' post.ticket.id %}">Modifier le ticket</a></button>
                {% endif %}
                {% if post.ticket in not_reviewed_by_user %}
                    <button><a href="{% url 'post_review' post.ticket.id %}">Poster une critique</a></button>
                {% endif %}
                <a class = "container__post__ticket display" href="{% url 'post_view' post.ticket.id %}">
                    {% if post.ticket.image %}
                    <div>
                        <img src="{{ post.ticket.image.url }}">
                    </div>
                    {% endif %}
                    <div class="display__post">
                        <h3>Livre : {{ post.ticket.title }}</h3>
                        <h4>Genre : {{ post.ticket.description }}</h4>
                    </div>
                </a>
            </div>
        </div>
        {% else %}
        <div class="container__post">
            <div class="container__post__ticket">
                <h2>
                    {% if post.user == user %}
                        <span>Votre ticket</span>
                    {% else %}
                        <span>Ticket créé par {{post.user}}</span> 
                    {% endif %}
                    <span>le {{post.time_created}}</span>
                </h2>
                {% if post.user == user%}
                    <button><a href="{% url 'edit_blog' post.id %}">Modifier le ticket</a></button>
                {% endif %}
                {% if post in not_reviewed_by_user %}
                    <button><a href="{% url 'post_review' post.id %}">Poster une critique</a></button>
                {% endif %}
                <a class = "container__post__ticket display" href="{% url 'post_view' post.id %}">
                    {% if post.image %}
                    <div>
                        <img src="{{ post.image.url }}">
                    </div>
                    {% endif %}
                    <div class="display__post">
                        <h3>Livre : {{ post.title }}</h3>
                        <h4>Genre : {{ post.description }}</h4>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    <span>
        {% if posts.has_previous %}
            <a href="?page=1">« première</a>
            <a href="?page={{ posts.previous_page_number }}">précédente</a>
        {% endif %}
    
        <span>
            Page {{ posts.number }} sur {{ posts.paginator.num_pages }}.

        </span>
        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">suivante</a>
            
            <a href="?page={{ posts.paginator.num_pages }}">dernière »</a>
        {% endif %}
    </span>
</main>
    
{% endblock content %}