{% extends 'base.html' %}
{% load rating_extras %}
{% block content %}
    <main class="container">
        <h1>Mes posts</h1>
        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
                <div class="container__post">
                    <div class="container__post__ticket">
                        <h2>
                            <span>Votre ticket</span> 
                            <span>le {{post.time_created}}</span>
                        </h2>
                        <button><a href="{% url 'edit_blog' post.id %}">Modifier le ticket</a></button>
                        <a class = "container__post__ticket display" href="{% url 'post_view' post.id %}">
                            {% if post.image %}
                            <div>
                                <img src="{{ post.image.url }}">
                            </div>
                            {% endif %}
                            <div class="display__post">
                                <h3>Livre : {{ post.title }}</h3>
                                <h4>Genre : {{ post.description }}</h4>
                            </div>
                        </a> 
                    </div>
                </div>
            {% elif post.content_type == 'REVIEW' %}
            <div class="container__post">
                <p><span>Vous</span> avez posté cette critique le {{post.time_created}} :</p>
                <div class="container__post__view">
                    <div>{{post.headline}} 
                        {% with 'e'|center:post.rating as range %}
                            {% for e in range %}
                                &#9733;
                            {% endfor %}
                        {% endwith %}
                        {% with post.rating|empty_stars as empty %}
                            {% with 'e'|center:empty as range %}
                                {% for e in range %}
                                    &#9734;
                                {% endfor %}
                            {% endwith %}
                        {% endwith %}
                    </div>
                    <button><a href="{% url 'edit_review' post.id %}">Modifier votre critique</a></button>
                </div>
                <div class="container__post__ticket">
                    <a class = "container__post__ticket display" href="{% url 'post_view' post.ticket.id %}">
                        {% if post.ticket.image %}
                        <div>
                            <img src="{{ post.ticket.image.url }}">
                        </div>
                        {% endif %}
                        <div class="display__post">
                            <h3>Livre : {{ post.ticket.title }}</h3>
                            <h4>Genre : {{ post.ticket.description }}</h4>
                        </div>
                    </a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </main>
    
{% endblock content %}