{% extends 'base.html' %}
{% load rating_extras %}
{% block content %}
<main class="container">
    <div class="container__post">
        <div class="container__post__view">
            <h1>{{ blog.title }}</h1>
            <p>crée le {{ blog.time_created }}</p>
        
        {% if author == user_online %}
            <a href="{% url 'edit_blog' blog.id %}">Modifier le billet</a>
        {% endif %}
        {% if not reviewed_by_user %}
            <a href="{% url 'post_review' blog.id %}">Poster une critique</a>
        {% endif %}
        </div>
        <div class="display">
            <div>
            <p>{{blog.title}} : {{ blog.description }}</p>
            {% if blog.image%}
            
                <img src="{{ blog.image.url }}">
                <p>{{ blog.photo.caption }}</p>
            {% endif %}
            
            </div>
            <div class="display__review">
            {% if reviews %}
                <h3>Critiques de ce livre</h3>
                {% for review in reviews %}
                    <div class="display__review__data">
                        <p>Ecrite le {{review.time_created}} par {{review.user}} : </p>
                        <div>
                            <p>{{ review.headline }}</p>
                            {% with ''|center:review.rating as range %}
                                {% for _ in range %}
                                    &#9733;
                                {% endfor %}
                            {% endwith %}
                            {% with review.rating|empty_stars as empty %}
                                {% with ''|center:empty as range %}
                                    {% for _ in range %}
                                        &#9734;
                                    {% endfor %}
                                {% endwith %}
                            {% endwith %}
                        </div>
                        <p>{{ review.body }}</p>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock content %}