body {
  margin: 0;
}

#auth {
  height: 100vh;
  padding: 0;
  border: none;
  flex-direction: column;
}
#auth h1 {
  font-size: 45px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url("../../media/abstract_pattern_design_background_2007.jpg");
  background-size: cover;
  height: fit-content;
  padding-bottom: 30px;
  border-bottom: rgb(108, 102, 156) solid 8px;
}
.navigation__links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.navigation__links > * {
  text-align: center;
  padding: 3;
  margin-right: 6;
  background-color: whitesmoke;
  border-radius: 5px;
}
.navigation__links > * a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}

.container {
  margin: 110px;
}
.container__post {
  border: 2px solid rgb(132, 133, 134);
  border-radius: 10px;
  max-width: 840px;
  margin: 30px auto;
  padding: 12px;
  background-color: rgb(201, 209, 226);
  min-width: 300px;
}
.container__post p {
  font-size: 19px;
}
.container__post span {
  font-weight: bold;
  font-size: 18px;
}
.container__post > * {
  margin-left: 10px;
}
.container__post__ticket {
  margin: 10 0 10 0;
  border: 2px solid rgb(108, 110, 120);
  border-radius: 10px;
  background-color: white;
  text-align: center;
}
.container__post__ticket h3, .container__post__ticket h4 {
  color: rgb(67, 61, 61);
}
.container__post__ticket h2 {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.container__post__ticket h2 > * {
  font-size: 16px;
  margin: 0 20;
}
.container__post__ticket h2 > :nth-child(2) {
  font-size: 14px;
  font-weight: normal;
}
.container__post__ticket div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__post__ticket div img {
  border: 1px solid #808080;
  margin-bottom: 10px;
}
.container__post__view {
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px 9px 30px;
  background-color: whitesmoke;
  border-radius: 10px;
}
.container__post__view p {
  font-size: 15px;
  margin-right: 30%;
}

.display {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30 100 0 50;
  border: none;
}
.display__post {
  max-width: 240px;
  flex-direction: column;
  height: fit-content;
}
.display__review {
  max-width: 340px;
}
.display__review h3, .display__review p {
  margin: 6px 0;
}
.display__review__data {
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 10px;
}
.display__review__data div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.display__review__data div p {
  margin-right: 10px;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
form p, form li {
  margin: 10px;
  display: flex;
}
form p label, form li label {
  width: 100px;
}
form p div, form li div {
  display: flex;
}
form p div div, form li div div {
  width: 50px;
}

.follow {
  margin: 0 10px 10px 10px;
}
.follow div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  border: 2px solid darkgray;
  padding: 5px;
}
.follow div > * {
  margin: 0;
}

button {
  cursor: pointer;
  width: 143px;
  margin: 5px;
}

.followpage input {
  max-width: 300px;
  margin-bottom: 15px;
}
.followpage__result {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  border-radius: 10px;
  width: fit-content;
}
.followpage__result div {
  margin-left: 15px;
}
.followpage__result h3 {
  color: rgb(47, 47, 88);
  font-size: 25px;
}
.followpage__result span {
  margin: 5px;
}
.followpage__result__posts {
  margin: 9px;
  background-color: white;
  border-radius: 10px;
  padding: 0 10px;
  text-align: center;
}
.followpage__result__posts h4 {
  margin: 5px 0;
}
.followpage__result__posts img {
  height: 160px;
  margin-bottom: 10px;
}

@media screen and (max-width: 995px) {
  .container {
    margin: 20 5px 20px 5px;
  }
  .container__post {
    max-width: 640px;
  }
  .container__post__ticket a {
    flex-direction: column;
    align-items: center;
  }
  .container__post__ticket__display {
    margin: 20 20 0 20;
  }
  .container__post__ticket__display div:nth-child(2) {
    margin-left: 10px;
  }
  .navigation__links {
    justify-content: space-around;
  }
  .navigation p {
    margin: 5px 5 10px 0;
  }
  .navigation div {
    display: flex;
    text-align: center;
    margin-top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
