body {
    margin: 0;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 130px;
    align-items: center;
    background-image: url("../../media/abstract_pattern_design_background_2007.jpg");
    background-size: cover;
    &__links {
        display: flex;
        & > * {
            padding-right: 10px;
        }
    }
}

.container{
    margin: 100px;
    &__post{
        border: 2px solid rgb(132, 133, 134);
        border-radius: 10px;
        margin: 20px;
        padding: 12px;
        background-color: rgb(201, 209, 226);
        & p {
            font-size: 19px;
        }
        & span {
            font-weight: bold;
            font-size: 18px;
        }
        & > * {
            margin-left: 10px;
        }
        &__ticket{
            margin: 10 0 10 0;
            border: 2px solid rgb(108, 110, 120);
            border-radius: 10px;
            background-color: white;
            text-align: center;
            &__display {
                text-decoration: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 30 100 0 50;
                & div:nth-child(2) {
                    max-width: 240px;
                    flex-direction: column;
                }
            }
            & h3, h4 {
                margin-left: 15px;
                color: rgb(67, 61, 61);
            }
            & div {
                display: flex;
                justify-content: center;
                align-items: center;
                & img {
                    border: 1px solid #808080;
                    margin-bottom: 10px;
                }
            }
        }
        &__view{
            margin-left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 30px 9px 30px;
            background-color: whitesmoke;
            border-radius: 10px;
            & h2 {
                margin: 5px 0;
                font-size: 20px;
            }
        }
    }
}


form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    & p, li {
        margin: 10px;
        display: flex;
        & label {
            width: 100px;
        }
        & div {
            display: flex;
            & div {
                width: 50px;
            }
        }
    }
}

.follow {
    margin: 0 10px 10px 10px;
    & div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        border: 2px solid darkgray;
        padding: 5px;
        & > * {
            margin: 0;
        }
    }
}

button {
    cursor: pointer;
    width: 143px;
    margin: 5px;
}

.followpage {
    & input {
    max-width: 300px;
    margin-bottom: 15px;
    }
}



